/* Navbar KI SHURWAAAT */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
.navbar {
  display: flex;
  background-color: #2196f3;
  justify-content: center;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
}

.main-nav {
  display: flex;
  /* margin-right: 30px; */
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.main-nav li {
  margin: 0;
}

.nav-links {
  margin-left: 40px;
  text-decoration: none;
  color: white;
}
/* Navbar KA ANTT */

/* Section1 KI SHURWAAT */

.section1 {
  height: 40vh;
  background-image: url(1.jpg);
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
}
.navigation {
  display: inline;
}
.navigation-text {
  color: white;
  display: inline-block;
}
.navigation-heading {
  color: white;
  padding: 1% 0;
}
.button1 {
  color: white;
  border: none;
  background-color: #2196f3;
  align-self: baseline;
  padding: 7px 29px;
  font-weight: bold;
  margin-top: 2%;
}

/* Section1 KA ANTT*/

/* Section2 KI SHURWAAT */

.tab {
  padding: 0 3%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 15px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #2196f3; */
  /* color: white; */
  border-bottom: 1px solid #2196f3;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin: 2% 3%;
  padding-bottom: 5%;
  border-top: none;
  border-bottom: 1px dashed #2196f3;
}
.tabcontent-child1 {
  align-self: center;
}
.tabcontent-child1 .tabcontent-head {
  margin-bottom: 5%;
  font-size: 2rem;
  font-weight: normal;
}
.tabcontent-child1 .tabcontent-text {
  line-height: 1.5rem;
}
/* Section 2 KA ANTT*/

/* Section 3 KI SHURWAAT */
.section3 {
  width: 100%;
  padding: 2% 0 0 0;
}
.group {
  display: flex;
  flex-direction: row;
}
.section-content {
  margin: 2% 3%;
  flex: 70%;
  max-width: 60%;
}
.form {
  flex: 30%;
  width: 30%;
  margin: 0 5% 15% 7%;
  box-sizing: border-box;
  position: sticky;
  top: 15%;
  align-self: flex-start;
}
.form-container {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 4% 6%;
  /* margin: 0 2%; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.form-head {
  font-style: italic;
  font-weight: lighter;
  color: #2196f3;
}
.form-text {
  font-size: 11pt;
  font-weight: lighter;
  margin: 3% 0 6% 0;
}
.form-input {
  margin-bottom: 5%;
  width: 100%;
}
.button2 {
  color: white;
  border: none;
  background-color: #2196f3;
  padding: 10px 29px;
  font-weight: bold;
  margin-top: 2%;
  border-radius: 3px;
  width: 100%;
}
.section-content-head {
  font-weight: normal;
}

.section-content-text,
.list-parent {
  margin: 4% 0;
  list-style: none;
}

.list-parent {
  border-bottom: 1px dashed #2196f3;
}

.list-child {
  margin-bottom: 2%;
  /* text-indent: 25px; */
}
.list-child::before {
  content: "\25E6"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #2196f3; /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.6em; /* Also needed for space (tweak if needed) */
  /* margin-left: -1em; */
  /* height: auto; */
}

/* Section 3 KA ANTT*/

/* Section 4 KI SHURWAAT */

.section4 {
  width: 100%;
  margin-bottom: 10%;
}
.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  border: 1px solid lightgrey;
  padding: 16px 16px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.glide__bullet {
  background-color: lightgrey;
}
.glide__bullets {
  bottom: 0;
  top: 105%;
}
.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid #2196f3;
  background-color: #2196f3;
}
/* Section 4 KA ANTT*/

/* Section 5 KI SHURWAAT */
.section5 {
  background-color: #e9f2f7;
  text-align: center;
  padding: 10%;
}

.carousel-head {
  padding-bottom: 3%;
}
.carousel-head h3 {
  color: red;
  font-weight: normal;
  font-size: 3rem;
  font-style: italic;
  font-family: "Dancing Script", cursive;
  margin-bottom: 20px;
}
.carousel-head h1 {
  font-weight: normal;
}
.glide1 .card {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2%;
}
.glide1 .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.glide1,.glide2 .glide__bullets {
  position: relative;
  left: 0;
}
/* Section 5 KA ANTT*/

/* Section 6 KI SHURWAAT */
.section6 {
  text-align: center;
  padding: 10% 10% 5% 10%;
}
.glide2 .card {
  border: 1px dashed red;
  border-radius: 5px;
  margin: 2%;
}
.glide2 .card img {
  border-radius: 5px 5px 0 0;
}
.section6 p{
  margin-top: 5%;
}


#section7 {
  height: 100vh;
  width: 100%;
  color: white;
  background-color: #0aa2f7;
  font-family: "Roboto", sans-serif;
}

.stay_healthy {
  text-align: center;
  padding: 30px 0 15px;
}
.we_have_team {
  text-align: center;
  font-size: 40px;
  transform: translateY(-15%);
}

.line {
  /*border-left: 2px;
	padding: 0 10px;*/
  border-right: 0.5px solid white;
  height: 30px;
}
.nested-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  margin-left: 10px;
}

.blue-container {
  display: flex;
  flex-direction: column;
  background-color: #0b2432;
  margin-top: 3%;
  height: 65vh;
}
.main-container-2 {
  display: flex;
  width: 100%;
  /*height:  70%;*/
  height: 35vh;
}
.main-container-2 .nested-container-2 {
  display: flex;
  width: 33%;
  margin-top: 2%;
  align-items: left;
  margin-left: 5%;
  flex-direction: column;
}

.last-container {
  display: flex;
}

.get_in_touch {
  margin-right: 20px;
  /*height: 40px;*/
  padding: 10px 25px;
  font-size: 12px;
  background-color: #107df7;
  cursor: pointer;
}
.number {
  margin-left: 20px;
}

#section7 ul {
  font-size: 0.8rem;
  margin-top: 20px;
  line-height: 22px;
  margin-left: 10px;
}
#section7 ul.dashed {
  list-style-type: none;
}

#section7 ul.dashed > li:before {
  content: "-";
  /*text-indent: -20px;*/
}

.floating-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 250px;
  background-color: white;
  border-radius: 5%;
  margin-top: -55px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.icon {
  display: flex;
  margin-top: 12px;
  flex-direction: row;
}

.icon .card-text-1 {
  margin-left: 10px;
  color: black;
  font-size: 0.8rem;
}
.icon .card-text-2 {
  margin-top: 5px;
  font-size: 1.1rem;
  color: black;
  margin-left: 10px;
}
.card-text-3 {
  color: black;
  margin-top: 10px;
  font-size: 0.7rem;
}

.horizontal_line {
  width: 90%;
  border-bottom: 1px solid white;
  opacity: 0.3;
  margin-top: 10px;
}

.bottom-container {
  height: 25vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

  /*display: flex;*/
}

.logo {
  height: 160px;
}
.mid-content {
  display: flex;
  width: 50%;
  padding: 25px 60px 25px 0;
  flex-direction: column;
  text-align: justify;
}
.mid-content h4 {
  font-size: 1rem;
}

.mid-content p {
  margin-top: 10px;
  font-size: 0.8rem;
}

.last-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.last-content span {
  margin-top: 20px;
  font-size: 12px;
}

.icons {
  margin-top: 5px;
}
.indi-icon {
  padding: 0 5px;
}

.follow_us {
  padding-top: 25px;
  text-align: left;
  font-size: 12px;
  display: block;
}

.number2 {
  font-size: 20px;
  margin-top: 5px;
  color: #0aa2f7;
}
